@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700,600");

body{
    background:#FFFFFF; font-family:"Open Sans";
    font-weight:400;
    padding-top:30px;
    text-align:center; }

#message{
    color:#000000;
    font-size:50px;
    margin-bottom:20px; }

#timer{
    color:#000000;
    font-size:200px;
    margin-bottom:40px; }

#buttons button{
    background:#FFFFFF;
    border-style: solid;
    border-color: #000000;
    color:#000000;
    cursor:pointer;
    padding:15px 30px;
    margin:0 auto;
    border-radius:4px;
    width: 200px}

#stop, #reset {
    display:none; }

p span
{
    display: block;
}
