@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700,600");

body{
    background:#FFFFFF; font-family:"Open Sans";
    font-weight:400;
    padding-top:30px;
    text-align:center; }

#task{
    float: left;
    margin-left: 300px;
    margin-top: 100px;
    border-style: solid;
    border-color: #000000;
    height: 500px;
    width: 300px; }

#container {
    float: right; }

#timer{
    color:#000000;
    font-size:100px;
    margin-top:100px;
    margin-bottom:40px;
    margin-right:200px;
    width:600px;
    border-style: solid;
    border-color: #000000;}

#buttons button{
    background:#FFFFFF;
    border-style: solid;
    border-color: #000000;
    color:#000000;
    cursor:pointer;
    padding:15px 30px;
    border-radius:4px;
    width: 200px;
    margin-right: 600px;
}

#stop, #reset {
    display:none;
}

p{
    text-align: left;
}
